{% extends 'cloudapp/base.html' %}

{% block content %}
    <form class="form-inline wordForm" action="" method="post">
        <div class="form-group">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
        </div>
    </form>
    <div class="total">
            <h2>Total number of words and phrases entered: <button class="btn-primary total_bytes">{{ total_bytes }}</button></h2>
    </div>

    {% for byte in each_bytes %}
        <div class="byte">
            <span class="byte_text">{{ byte.text }}</span>
            <button class="button btn-default" type="button">{{ byte.c }}</button>
        </div>
    {% endfor %}
    <hr>
    <!--{% for byte in bytes %}
        <div class="byte">
            <h2>{{ byte.text }}</h2>
        </div>
    {% endfor %}-->
{% endblock %}

