.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    
}
.total {
    background-color: #45A4BA;
    color: white;
    padding: 10px;
    margin-left: 0px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.byte {
    margin-left: 20px;
}

.byte h2 {
    color: #000000;
}

.byte_text {
    font-size: 200%;
}    
.total_bytes {
    text-shadow: 3px 3px black;
    color: white;
}

    
    